<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
    <div id="app">
        <main>
            <h1 v-text="sitename"></h1>
            <form action="orders.html">
                <input type="submit" value="View past orders" />
            </form>



            <div v-for="lesson in lessons">
                <figure>
                    <img v-bind:src="lesson.Image" height="100px" width="100px">
                </figure>


                <h2 v-html="lesson.Subject"></h2>
                <p v-html="lesson.Location"></p>
                <p v-html="lesson.Price"></p>
                <p v-html="lesson.Spaces"></p>



                <button class="add to cart" v-on:click="addToCart(lesson)" v-bind:disabled="lesson.Spaces === 0 ">Add to
                    cart</button>
                <span>Buy Now! <i class="fas fa-star"></i></span>

                <span v-if='lesson.spaces === 0'>All out!
                    Only 1 Space left!
                </span>


            </div>









            <h2>Checkout</h2>

            <p>
                <strong>First Name:</strong>
                <!-- This input field is bound to 'firstName' in the 'order' object -->
                <input v-model="order.firstName" />
            </p>
            <p>
                <strong>Last Name:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model="order.lastName" />
            </p>

            <strong>Phone:</strong>
            <!-- This input field is bound to 'lastName' in the 'order' object -->
            <input v-model="order.Phone" />
            </p>
            <h2>Order Information</h2>
            <p>First Name: {{order.firstName}}</p>
            <p>Last Name: {{order.lastName}}</p>

            <p>Phone: {{order.Phone}}</p>
            




            <div v-for="lesson in cart">

                <h2 v-text="lesson.Subject"></h2>
                <p v-html="lesson.Location"></p>
                <p v-html="lesson.Price"></p>


                <button class="add to cart" v-on:click="remove(lesson)"> Remove</button>





            </div>

            <button class="checkoutbutton" v-on:click="sendorder()" v-bind:disabled="cart.length === 0">
                <!-- add the cart icon -->
                <span class="fas fa-cart-plus"></span> Checkout
            </button>














        </main>

        <script>


            let app = new Vue({

                el: '#app',


                data: {



                    cart: [],

                    lessons: {},
                    order: {



                        firstName: null,
                        lastName: null,
                        Phone: null,
                       
                    },



                    sitename: 'After School Clubs',


                },
                created: function () {
                    fetch('http://dominique-walker-cst1345-cw2.herokuapp.com/lessons').then(
                        function (response) {

                            response.json().then(
                                function (json) {

                                    app.lessons = json;

                                    console.log(JSON.stringify(json))
                                    lessons.push(json)
                                    console.log("lessons retreived sucessfully");
                                });




                        })

                },






                methods: {

                    addToCart(lesson) {

                        lesson.Spaces--;

                        {
                            this.cart.push(lesson);
                            console.log(cart)
                        }

                    },


                    canAddToCart(lesson) {
                        return lesson.Spaces > this.cartCount(lesson);

                    },


                    cartCount(lesson) {
                        let count = 0;
                        for (var i = 0; i < this.cart.length; i++) {

                            if (this.cart[i] == lesson) {

                                count++;
                            }
                        }
                        return count;
                    },

                    remove(lesson) {

                        lesson.Spaces++;
                        { this.cart.splice(lesson); }
                    },



                    sendorder(lesson) {



                        
                        const neworder = {
                            Firstname: this.order.firstName,
                            Lastname: this.order.lastname,
                            Phonenumber: this.order.Phone,
                            Lessonid: cart.map(a => a.lesson.id),
                            Spaces: 1
                        };
                        // set the url to your server and route
                        fetch('http://dominique-walker-cst1345-cw2.herokuapp.com/orders'
                            , {
                                method: 'POST'
                                , // set the HTTP method as 'POST'
                                headers: {
                                    'Content-Type': 'application/json'
                                    , // set the data type as JSON
                                },
                                body: JSON.stringify(neworder), // need to stringify the JSON object
                            })
                            .then(response => response.json())
                            .then(responseJSON => {
                                console.log('Success:'
                                    , responseJSON);

                            });




                    },



                    computed: {





                    },


                }

            })





        </script>



    </div>

</body>

</html>



</html>