<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>


    <div v-for="lesson in lessons">
        <figure>
            <img v-bind:src="lesson.Image" height="100px" width="100px">
        </figure>

        <h2 v-text="lesson.Subject"></h2>
        <p v-html="lesson.Location"></p>
        <p v-html="lesson.Price"></p>
        <p v-html="lesson.Spaces"></p>



        <button class="add to cart" v-on:click="addToCart(lesson)" v-bind:disabled="lesson.Spaces === 0 ">Add to
            cart</button>
        <span>Buy Now! <i class="fas fa-star"></i></span>

        <span v-if='lesson.spaces === 0'>All out!
            Only 1 Space left!
        </span>

</div>








    <script>



        let store = new Vue({
            data: { lessons: {} },

           
            // this function runs when creating the Vue instance
            created: function () {
                // replace the URL to your Heroku app and route
                fetch('http://dominique-walker-cst1345-cw2.herokuapp.com/lessons').then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                
                               store.lessons = json;
                               console.log(JSON.stringify(json))

                            
                            });
                    })
            }
        })

       


    </script>


   